
body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("./image/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  margin: 0;
}

hr {
  position: absolute;
  top: 18%;        /* 로고 아래 위치 — 원하는 값으로 조절 가능 */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;      /* 줄 길이 */
  height: 1.5px;
  background-color: #dcdcdc;
  border: none;
  opacity: 0.6;
}


h2 {
  color: #ffffff;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 200;
}

label {
  font-size: 15px;
  color: #444;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  border: 2px solid #dcdcdc;
  margin-bottom: 10px;
  font-size: 14px;
  box-sizing: border-box;
  transition: all 0.2s;
}

input:focus {
  border-color: #003799;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 55, 153, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #003a9f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  background-color: #002b7a;
}
.loginBox {
  position: absolute;
  top: 21%;
  right: 1%;
  background: rgba(0, 55, 153, 0.7);
  width: 300px;
  height: 170px;
  padding: 20px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);
  
}
.form-area {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    gap: 8px;
}

.input-area input {
    flex: 1;
    height: 50px;
}
.input-area {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-grow: 1;
}

.button-area {
    display: flex;
    align-items: stretch;
}

.button-area button {
    height: 92%;   
    padding: 0 20px;
    width: auto;
}

#logo {
  width: 10%;
  position: absolute;
  top: 2%;
  right: 46%;

}

.search-area {
  position: absolute;
  bottom: 10px;
  left: 24px;
  font-size: 12px;
}

.search,
.search:visited,
.search:hover,
.search:active{
  color: #dcdcdc
}

.register-area {
  position: absolute;
  font-size: 12px;
  bottom: 10px;
  right: 24px;
  
}
.register,
.register:visited,
.register:hover,
.register:active{
  color: #dcdcdc
}

.menuBox {
  display: flex;
  position: absolute;
  background-color: rgba(0, 55, 153, 0.8);
  flex-direction: column;

  width: 100px;
  height: 170px;
  padding: 20px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);

  top: 21%;
  right: 22%;

}
.menuBox a {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 14px;
}

.menuBox a,
.menuBox a:visited,
.menuBox a:active{
  color: #dcdcdc
}
.menuBox a:hover {
  color: #dcdcdc;
  text-decoration: underline;
}

.announcement {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: column;

  width: 460px;
  height: 170px;
  padding: 8px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);

  top: 45%;
  right: 1%;

}
.announcement p {
  font-weight: 600;
}
.announcement li{
  margin-bottom: 10px;
  color: #666666;
  font-size: 14px;
  line-height: 1.2;
}
.announcement li a,
.announcement li a:visited,
.announcement li a:active{
  color: #666666;
  text-decoration: none;
}
.announcement li:hover {
  color: #666666;
  text-decoration: underline;
}

.announcement hr {
  position: absolute;
  top: 48px;
  width: 90%;
}

.announcement_plus,
.announcement_plus:hover,
.announcement_plus:visited,
.announcement_plus:active{
  color: #666666;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  
  position: absolute;
  top: 20px;
  right: 20px;
}
